
body {
    background-color: #1a1a1a; /* Dark grey */
    color: #c7c7c7; /* Light grey */
    font-family: Arial, sans-serif;
    margin-right: 0px;
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}

header {
    background-color: #0d0d0d; /* Black */
    color: white;
    text-align: center;
    padding: 1rem 0;
    animation: headerAnimation 5s infinite alternate;
}

@keyframes headerAnimation {
    0% { background-color: #0d0d0d; }
    100% { background-color: #333; }
}

footer {
    background-color: #0d0d0d; /* Black */
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
   
}

nav ul {
    list-style-type: none;
    padding: 0;
    
}

ul li:hover {
    background-color: #070201;
    
  }
nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #3cb371;
    text-decoration: none;
}

main {
    padding: 2rem;
}

#featured-art {
    text-align: center; /* Centers the content of #featured-art */
}

.featured img {
    max-width: 30%; /* Maximum width of image is 100% of its container */
    height: 30%; /* Height is set to auto to maintain aspect ratio */
    display: block; /* Makes the image a block-level element */
    margin: 0 auto; /* Centers the image within its container */
    align-self: right;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.art-item img {
    width: 100%;
    height: auto;
}

.art-item h3, .art-item p {
    margin: 10px 0;
}

body {
    font-family: 'YourChosenFont', sans-serif;
    background-color: #1a1a1a; /* Dark grey */
    color: #c7c7c7; /* Light grey */
}

header, footer {
    background-color: #0d0d0d; /* Black */


        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        color: white;
        padding: 10px 20px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

h1, h2, h3 {
        font-family: 'Roboto', sans-serif; /* Example modern font */
        margin-bottom: 10px;
        transition: color 0.3s ease;
    }
    
    h1:hover, h2:hover, h3:hover {
        color: #3cb371; /* Add a subtle hover effect */
    }
    
