
body {
    background-color: #1a1a1a; /* Dark grey */
    color: #c7c7c7; /* Light grey */
    font-family: Arial, sans-serif;
    margin-right: 0px;
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}

header {
    background-color: #0d0d0d; /* Black */
    color: white;
    text-align: center;
    padding: 1rem 0;
    animation: headerAnimation 5s infinite alternate;
}

@keyframes headerAnimation {
    0% { background-color: #0d0d0d; }
    100% { background-color: #333; }
}

footer {
    background-color: #0d0d0d; /* Black */
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
   
}

nav ul {
    list-style-type: none;
    padding: 0;
    
}

ul li:hover {
    background-color: #070201;
    
  }
nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #3cb371;
    text-decoration: none;
}

main {
    padding: 2rem;
}


.about {
    font-family: 'Arial', sans-serif; /* Clean, professional font */
    color: #fffcfc; /* Dark grey text for readability */
    background-color: #000000;
    padding: 10px; /* Padding around the text */
    border-radius: 10px; /* Rounded corners for a modern look */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    line-height: 1.6; /* Improved line spacing for readability */
    max-width: 900px; /* Max width to ensure lines aren't too long */
    margin: 10px auto; /* Center the block on the page */
    text-align: justify; /* Justify text for a clean look */
    
}


.about h1, .about h2 {
    color: #3cb371; /* Add a subtle hover effect */
    ; /* Slightly darker color for headings */
    margin-top: 0;
}

.picture {
    height: 300px;

}

#featured-art {
    text-align: center; /* Centers the content of #featured-art */
}

img {
    max-width: 100%; /* Maximum width of image is 100% of its container */
    height: 100%; /* Height is set to auto to maintain aspect ratio */
    display: block; /* Makes the image a block-level element */
    margin: 0 auto; /* Centers the image within its container */
    align-self: right;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}


.item img {
    width: 100%;
    height: auto;
}

.item h3, .item p {
    margin: 10px 0;
}

body {
    font-family: 'YourChosenFont', sans-serif;
    background-color: #1a1a1a; /* Dark grey */
    color: #fcf8f8; /* Light grey */
}

header, footer {
    background-color: #0d0d0d; /* Black */


        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        color: white;
        padding: 10px 20px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

h1, h2, h3 {
        font-family: 'Roboto', sans-serif; /* Example modern font */
        margin-bottom: 10px;
        transition: color 0.3s ease;
        color: #3cb371; /* Add a subtle hover effect */

    }
    
    h1:hover, h2:hover, h3:hover {
        color: #3cb371; /* Add a subtle hover effect */
    }
    
